*{
    margin:0;
    padding:0;
}
ul li {
    list-style-type: none;
}
.gift{
    width: 543px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    margin-top: 200px;
}
.gift ul{
    width: 495px;
    margin-left: 24px;
    margin-right: 30px;
}
.gift ul li{
    width: 55px;
    float: left;
    text-align:center;
}
.gift ul li span{
    display: inline-block;
    border: 1px solid #ddd;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
}
.gift ul li span:hover,
.gift ul li span.current{
    background: #F5F5F5;
    border-color: #f80
}
.gift ul li span img{
    vertical-align: bottom;
    margin-top: 3px;
}
.gift .gift-scroll-arrow-left,
.gift .gift-scroll-arrow-right{
    width: 24px;
    height: 47px;
    display: inline-block;
    background: #ddd;
    border-radius: 4px;
    position: absolute;
    top:0;
}
.gift-scroll-arrow-left{
    left:0;
}
.gift-scroll-arrow-right{
    right:0;
}

.gift-send{
    width: 320px;
    padding:18px 11px 11px;
    border: 1px solid #d9d9d9;
}
.gift-send .top{
    background: white;
    overflow: hidden;
}
.gift-send .top .gif{
    width: 60px;
    height: 80px;
    float: left;
    margin-right: 8px;
}
.gift-send .top .describe{
    width: 252px;
    height: 80px;
    float: left;
}
.gift-send .top .describe .title{
    font-size: 16px;
    font-weight: normal;
    color: #555555;
}
.gift-send .top .describe .info{
    font-size: 12px;
    color: #999999;
}
.gift-send .top .describe .info + p{
    margin-top: 7px;
}
.gift-send .top .describe .em{
    font-size: 12px;
    color: #999;
}
.gift-send .bottom{
    background: #efefef;
}